/* VARIABLES */

html {
  --iuvia-main-color: #3dbfc1;
  --iuvia-dark-color: #0895a3;
  --iuvia-blue-gray: #457f97;
  --iuvia-selected-color: #05828e;
  --iuvia-grey-500-blend: hsl(182, 0%, 50%);
  --iuvia-grey-750-blend: hsl(182, 0%, 75%);
  --iuvia-grey-800-blend: hsl(182, 0%, 80%);
  --iuvia-main-hue: 181;
  --iuvia-main-sat: 52%;
  --iuvia-menu-color: #fff;
  --iuvia-menu-highlight: #fff;
  --iuvia-scrolled-menu-color: #000;
  --iuvia-scrolled-menu-highlight: #000;
  --iuvia-secondary-color: #437d94;
  --iuvia-secondary-dark-color: #415a6a;

--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;

  --palette-color01: #2660c4ff;
  --palette-color02: #ca8be9ff;
  --palette-color03: #f81890ff;
  --palette-color04: #ce203dff;
  --palette-color05: #3f2c44ff;
  --palette-color06: #e43c3fff;
  --palette-color07: #3d8c71ff;
  --palette-color08: #643fa9ff;
  --palette-color09: #e91476ff;
  --palette-color10: #174cb2ff;
  --palette-color11: #e2d73bff;
  --palette-color12: #3d5d8cff;
  --palette-color13: #a83e88ff;
  --palette-color14: #e87a14ff;
  --palette-color15: #7417b2ff;
  --palette-color16: #c15d8dff;
  --palette-color17: #277751ff;
  --palette-color18: #14bc6bff;
  --palette-color19: #ef9637ff;
  --palette-color20: #ce6f0aff;
}

/* GENERAL STYLES */


/* TOCTREE*/

/* Override book link colors */
a, a:hover,
.bd-toc nav li.active > a.active,
.bd-toc nav a:hover, .bd-toc nav li.active > a.active,
.bd-sidebar nav ul.nav a:hover, .bd-sidebar nav ul.nav li.active > a, .bd-sidebar nav ul.nav li.active > a:hover,
main.bd-content #main-content a, main.bd-content #main-content a:visited {
    color: var(--iuvia-dark-color)
}
.bd-toc nav li.active > a.active {
    border-left: 2px solid var(--iuvia-dark-color);
}
.bd-sidebar .nav > .active:hover > a, .bd-sidebar .nav > .active > a {
    color: var(--iuvia-blue-gray);
}
.toc-entry > .nav-link.active {
    color: var(--iuvia-blue-gray);
    border-left: 2px solid var(--iuvia-blue-gray);
}
.bd-sidebar .nav > li > ul > .active:hover > a, .bd-sidebar .nav > li > ul > .active > a {
    color: var(--iuvia-blue-gray);
}

/* Toctree caption style */

.toctree-wrapper > .caption > span {
  font-size: 1.5em;
  font-weight: 700;
}

/* Custom heading class */

p.heading {
  font-size: 1.5em;
  font-weight: 700;
}

/* List styles, icrease first level titles */

ul > .toctree-l1 {
    margin-top: 10px;
}
ul > .toctree-l1 > a {
    font-size: 1.2em;
}


/* BUTTONS */

.button {
    display: inline-block;
    margin: 10px 0px;
}

.button.fullwidth {
    display: block;
}

.button.center {
    display: block;
    text-align: center;
}

.button a {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding: 20px 30px;
    margin: 0 10px 10px 0;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff !important;
    background-color: var(--iuvia-grey-750-blend);
}

.button a:hover,
.button a:active,
.button a:focus {
    text-decoration: none;
    border-bottom: 0px;
    box-shadow: 0 5px 7px rgba(0,0,0,.25);
    color: #fff !important;
    background-color: var(--iuvia-grey-500-blend);
}

.button.primary a {
    color: #fff !important;
    background-color: var(--iuvia-main-color);
}

.button.primary a:hover {
    color: #fff !important;
    background-color: var(--iuvia-dark-color);
}

.button.secondary a {
    color: #fff !important;
    background-color: var(--iuvia-secondary-color);
}

.button.secondary a:hover {
    color: #fff !important;
    background-color: var(--iuvia-secondary-dark-color);
}

/* FIGURE */

.figure a:hover,
.figure a:active,
.figure a:focus {
    border-bottom: 0px;
    text-decoration: none;
}

/* Figure top margin */
main.bd-content #main-content div.figure {
  margin-top: 1em;
}


/* SOCIAL CARDS */

.social-card {
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 40px;
    background-color: #fff;
    padding: 20px;
    margin: 0 0 10px 0;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
    border-left: 3px solid var(--iuvia-main-color);
}

/* SOCIAL CARD WITH ICON */

.social-card.twitter {
    background-image: url(../images/twitter.png);
}

.social-card.twitter .topic-title {
    padding-left: 50px;
}

.social-card.linkedin {
    background-image: url(../images/linkedin.png);
}

.social-card.linkedin .topic-title {
    padding-left: 50px;
}

.social-card.email {
    background-image: url(../images/email.png);
}

.social-card.email .topic-title {
    padding-left: 50px;
}

.social-card.chat {
    background-image: url(../images/chat.png);
}

.social-card.chat .topic-title {
    padding-left: 50px;
}

/* REPOSITORIES */

.repocard .taglist {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.repocard.admonition {
  border-left: .2rem solid var(--iuvia-grey-800-blend)
}

.repocard .admonition-title {
  padding: .4rem .6rem .4rem .6rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.repocard .admonition-title:after,
.repocard .admonition-title:before {
  content: '';
}

.repocard a.icon {
  text-decoration: none;
  border-bottom: 0;
}

.repocard a.icon:hover,
.repocard a.icon:active,
.repocard a.icon:focus {
  text-decoration: none;
  border-bottom: 0;
}

.repocard .taglist li {
  display: inline-block;
  padding: 2px 7px;
  margin: 0 2px;
  border-radius: 3px;
  font-family: 'sans-serif';
  font-size: 13px;
  font-weight: 700;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.3);
  color: #fff;
  background-color: var(--iuvia-dark-color);
}

.repocard .taglist li.website {
    background-color: var(--blue);
}

.repocard .taglist li.software {
    background-color: var(--indigo);
}

.repocard .taglist li.hardware {
    background-color: var(--purple);
}

.repocard .taglist li.docs {
    background-color: var(--pink);
}

.repocard .taglist li.firmware {
    background-color: var(--red);
}

.repocard .taglist li.infrastructure {
    background-color: var(--orange);
}

.repocard .taglist li.marketplace {
    background-color: var(--yellow);
}

.repocard .taglist li.p2p {
    background-color: var(--green);
}

.repocard .taglist li.python {
    background-color: var(--teal);
}

.repocard .taglist li.django {
    background-color: var(--cyan);
}

.repocard .taglist li.html {
    background-color: var(--gray);
}

.repocard .taglist li.javascript {
    background-color: var(--gray-dark);
}

.repocard .taglist li.css {
    background-color: var(--palette-color13);
}

.repocard .taglist li.ghost {
    background-color: var(--palette-color14);
}

.repocard .taglist li.sphinx {
    background-color: var(--palette-color15);
}

.repocard .taglist li.kicad {
    background-color: var(--palette-color16);
}

.repocard .taglist li.cad {
    background-color: var(--palette-color17);
}

.repocard .taglist li.os {
    background-color: var(--palette-color18);
}

.repocard .taglist li.appimages {
    background-color: var(--palette-color19);
}

.repocard .taglist li.docker {
    background-color: var(--palette-color20);
}


/**/
